.services {
  width: 100%;
  display: flex;
  padding: 50px 100px;
  background-color: #efede0;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 1500px;
    margin: 0 auto;
    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      border-bottom: 2px solid black;
      margin-bottom: 30px;
      h1 {
        font-size: 40px;
      }
    }
    .boxs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .box {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d8d8d8;
        padding: 20px 0px;
        width: 49%;
        gap: 20px;
        .icon {
          font-size: 50px;
          color: #c9a050;
        }
        span {
          font-size: 18px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
    .services {
        padding: 50px 50px;
        .container {
        .head {
            h1 {
            font-size: 30px;
            }
        }
        .boxs {
            .box {
            width: 100%;
            padding: 20px 0px;
            .icon {
                font-size: 40px;
            }
            span {
                font-size: 16px;
            }
            }
        }
        }
    }
}
@media only screen and (max-width: 920px) {
    .services {
        padding: 50px 20px;
        .container {
        .head {
            h1 {
            font-size: 20px;
            }
        }
        .boxs {
            .box {
            width: 100%;
            padding: 20px 0px;
            .icon {
                font-size: 30px;
            }
            span {
                font-size: 14px;
            }
            }
        }
        }
    }
}
@media only screen and (max-width: 768px) {
    .services {
        padding: 50px 20px;
        .container {
        .head {
            h1 {
            font-size: 20px;
            }
        }
        .boxs {
            .box {
            width: 100%;
            padding: 20px 0px;
            .icon {
                font-size: 30px;
            }
            span {
                font-size: 14px;
            }
            }
        }
        }
    }
}
