.header {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #c9a050;
  border-bottom: 1px solid #c9a050;

  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1440px;
    justify-content: space-between;

    h1 {
      color: #ebe9cf;
    }
    .burger {
      display: none;
    }
    div {
      display: flex;
      align-items: center;

      .Navlink {
        padding: 30px;
        height: max-content;
        color: #ebe9cf;
        text-decoration: none;
        transition: 0.4s;
      }
      .lastLink {
        border-left: 1px solid #c9a050;
      }
    }
    .links {
      display: none;
    }
    .firstLink {
      justify-content: flex-start;
    }
    .secondLink {
      justify-content: flex-end;
    }
    .Navlink:hover {
      background-color: #13130e;
      color: #c9a050;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    .container {
      h1 {
        order: -1;
        padding: 0px 30px;
      }
      div {
        .Navlink {
          padding: 30px 20px;
        }
      }
      .secondLink {
        display: none;
      }
      .links {
        display: flex;
      }
    }
  }
}
@media only screen and (max-width: 920px) {
  .header {
    .container {
      h1 {
        font-size: 25px;
      }
      div {
        .Navlink {
          padding: 30px 20px;
          font-size: 11px;
        }
      }
      .secondLink {
        display: none;
      }
      .links {
        display: flex;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    .container {
      padding: 5px 20px;

      h1 {
        font-size: 30px;
        padding: 0px;
      }
      .burger {
        display: block;
        width: 30px;
        height: 30px;
        color: #f7f6ec;
      }
      .firstLink {
        display: none;
      }
      .secondLink {
        display: none;
      }
    }
  }
}
