@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
.about {
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #eeede0;
    position: relative;
    overflow: hidden;
    height: 750px;
    .textarea {
      padding: 20px;
      margin: 40px 100px;
      display: flex;
      flex-direction: column;
      z-index: 999;
      width: 35%;
      h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
      }
      p {
        font-size: 24px;
        font-family: "Cardo";
        color: #6d6d65;
        font-weight: 200;
        line-height: 38px;
        margin-top: 20px;
      }
      button {
        width: 200px;
        height: 50px;
        background-color: #f9f9f9;
        border: 1px solid #6d6d65;
        color: #6d6d65;
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #6d6d65;
          color: #f9f9f9;
        }
      }
    }
    .img {
      background: url(./../../assets/images/about.jpg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      width: 100%;
      height: 700px;
      position: absolute;
      top: 20px;
      right: 0 ;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    .container {
      .textarea {
        margin: 40px 50px;
        width: 50%;
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 920px) {
  .about {
    .container {
      .textarea {
        margin: 40px 50px;
        width: 50%;
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .about {
    .container {
      flex-direction: column;
      height: auto;
      .textarea {
        margin: 40px 50px;
        width: 100%;
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
      .img {
        height: 500px;
      }
    }
  }
}
