.exhibitions {
  width: 100%;
  display: flex;
  padding: 50px 100px;
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    max-width: 1500px;
    margin: 0 auto;
    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      border-bottom: 2px solid black;
      margin-bottom: 30px;
      h1 {
        font-size: 40px;
      }
      .link {
        font-size: 13px;
      }
    }
    .infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        padding: 30px 0px;

        div {
          width: 20%;
          h3 {
            font-size: 24px;
          }
          span {
            font-size: 13px;
            color: #a5a59f;
          }
        }
        p {
          width: 40%;
          line-height: 24px;
        }
        button {
          width: 15%;
          border: 1px solid #a5a59f;
          padding: 15px 25px;
          border-radius: 30px;
          cursor: pointer;
          font-size: 15px;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .exhibitions {
    padding: 50px;
    .container {
      .head {
        h1 {
          font-size: 30px;
        }
        .link {
          font-size: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .exhibitions {
    padding: 30px;
    .container {
      .head {
        h1 {
          font-size: 30px;
        }
        .link {
          font-size: 10px;
        }
      }
      .infos {
        .info {
          button {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .exhibitions {
    padding: 20px;
    .container {
      .head {
        h1 {
          font-size: 10px;
        }
      }
      .infos {
        .info {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          div {
            width: 100%;
            h3{
              font-size: 18px;
            }
            span{
              font-size: 13px;
            }
          }
          p {
            width: 100%;
          }
          button {
            width: 40%;
            font-size: 12px;
          }
        }
      }
    }
  }
}
